<h2>ユーザー編集</h2>


<%= form_for(@user) do |f| %>

	<div class="filed row">
		<%= f.attachment_field :profile_image %>
	</div>
	<div class="field row">
		<%= f.text_field :name %>
	</div>
	<div class="filed row">
		<%= f.text_area :introduction %>
	</div>
	<div class="actions row">
		<%= f.submit %>
	</div>

<% end %>

