<div class="col-xs-8 follow">

	<h2>followers</h2>
	<table class="table">
		<% @users.each do |user| %>
		<tr>
			<th>image</th>
			<th>name</th>
			<th>follows</th>
			<th>followers</th>
			<th></th>
		</tr>
		<tr>
			<td align="center"><%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb" %></td>
			<td align="center"><%= user.name %></td>
			<td align="center"><%= user.active_relationships.count %></td>
			<td align="center"><%= user.passive_relationships.count %></td>
			<% if current_user != user %>
				<% if user.followed_by?(current_user) %>
				<td align="center"><%= link_to "フォロー済み", user_relationships_path(user),method: :delete %></td>
				<% else %>
				<td align="center"><%= link_to "フォローする", user_relationships_path(user), method: :post %></td>
				<% end %>
			<% end %>
			<td align="center"><%= link_to "投稿一覧", user_path(user) %></td>
		</tr>
		<% end %>
	</table>
</div>