<div class="col-xs-8 index">
	<h2>ユーザー一覧</h2>
	<% @users.each do |user| %>
		<div class="users">
			<div class="image">
				<%= attachment_image_tag user, :profile_image, :fill, 300, 200%>
			</div>
				<table class="table">
					<tr>
						<th>name</th>
						<th><%= link_to user_path(user.id) do %>
							<%= user.name %>
							<% end %>
						</th>
					</tr>
					<tr>
						<th> introduction</th>
						<td><%= user.introduction %></td>
					</tr>
				</table>
		</div>
	<% end %>
	<div class="paginate">
		<td><%= paginate @users, class: "paginate" %></td>
	</div>
</div>