<div class="col-xs-9">

	<h4 style="margin-top: 150px;" >User Page</h4>
	<% @user.posts.each do |post| %>
		<table class="table user" >
			<tr>
				<th>Image</th>
				<th>Genre</th>
				<th>Title</th>
				<th>Favorites</th>
				<th>Comments</th>
			</tr>
			<tr>
				<td align="center"><%= attachment_image_tag post, :post_image, :fill, 120, 120 %></td>
				<td align="center"><%= post.genre.name %></td>
				<td align="center">
					<%= link_to post_path(post.id)  do%>
						<%= truncate(post.title, length:10) %>
					<%end%>
				</td>
				<td align="center">
					<%= post.favorites.count %>
					<i class="glyphicon glyphicon-thumbs-up"></i>
				</td>
				<td align="center"><%= post.post_comments.count %>
					<i class="glyphicon glyphicon-comment"></i>
				</td>
			</tr>
			<% if current_user == @user %>
				<tr>
					<td align="center"><%= link_to "投稿編集", edit_post_path(post.id), class: "btn btn-default btn-sm"%></td>
					<td></td>
					<td align="center"><%= link_to "投稿削除", post_path(post.id), method: :delete, data: {confirm: "投稿を消していいですか？"},class: "btn btn-danger btn-sm" %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>

<div class="col-xs-3 " style="margin-top: 180px;">
	<%= notice %>
	<table class="table userinfo">
		<tr>
			<th colspan="2"><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, class: "img-circle profile-thunb" %></th>
		</tr>
		<tr>
			<th colspan="2"><%= @user.name %></th>
		</tr>
		<tr>
			<td colspan="2" ><%= @user.introduction %></td>
		</tr>
		<% if user_signed_in? %>
			<tr>
				<th colspan="2">
					フォロー中<%= link_to follows_user_path(@user.id) do%>
					<%= @user.active_relationships.count %>
					<% end %>
				</th>
			</tr>
			<tr>
				<th colspan="2">
					フォロワー<%= link_to followers_user_path(@user) do %>
						<%= @user.passive_relationships.count %>
					<% end %>
				</th>
			</tr>
		<% else %>
			<tr>
				<th colspan="2">
					フォロー中 <%= @user.active_relationships.count %>
				</th>
			</tr>
			<tr>
				<th colspan="2">
					フォロワー <%= @user.passive_relationships.count %>
				</th>
			</tr>
		<% end %>
		<% if user_signed_in? %>
			<% if current_user != @user %>
				<tr>
					<th colspan="2">
						<% if @user.followed_by?(current_user) %>
							<%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-default btn-sm" %>
						<% else %>
							<%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-default btn-sm" %>
						<% end %>
					</th>
				</tr>
			<% else %>
				<tr>
					<th colspan="2">
						<%= link_to "アカウント削除", user_path(@user), method: :delete, data: {confirm: "アカウントを消していいですか？"}, class: "btn btn-danger btn-sm"%>
					</th>
				</tr>
				<tr>
					<th colspan="2">
						<%= link_to "", edit_user_path(@user), class: 'col-xs-12 btn btn-default glyphicon glyphicon-wrench edit' %>
					</th>
				</tr>
			<%end%>
		<%end%>
	</table>
</div>

