<div class="col-xs-8 all">
	<h2>検索一覧</h2>
	<% @posts.each do |post|%>
		<div class="posts">
			<div class="image">
				<%= attachment_image_tag post,:post_image, :fill, 300, 200%>
			</div>
				<table class="table">
					<tr>
						<th>name</th>
						<th><%= post.user.name %></th>
					</tr>
					<tr>
						<th>day</th>
						<th><%= post.created_at.strftime('20%y年%m月%d日%H時') %></th>
					</tr>
					<tr>
						<th>title</th>
						<th>
							<%= link_to post_path(post.id) do%>
								<%= post.title %>
							<% end %>
						</th>
					</tr>
				</table>
		</div>
	<% end %>
	<div class="paginate">
		<td><%= paginate @posts, class: "paginate" %></td>
	</div>
</div>

