
<!-- <h2>ジャンル</h2>
<table class="table">
	<% @genres.each do |genre| %>
	<tr>
		<td><%= link_to genres_path(genre.id) do%>
			<%= genre.name %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table> -->

	<div class="col-xs-8 index">
		<h2>投稿一覧</h2>
		<% @posts.each do |post|%>
		<div class="posts">
			<div class="image" style="text-align: center;">
				<%= attachment_image_tag post,:post_image, :fill, 300, 200%>
			</div>
				<table class="table tableborder-less">
					<tr>
						<th style="text-align: center; ">name</th>
						<th style="text-align: center; "><%= link_to user_path(post.user.id) do%>
						<%= post.user.name %>
						<% end %>
						</th>
					</tr>
					<tr>
						<th style="text-align: center;">day</th>
						<th style="text-align: center;"><%= post.created_at.strftime('20%y年%m月%d日%H時') %></th>
					</tr>
					<tr>
						<th style="text-align: center;">title</th>
						<th style="text-align: center;">
						<%= link_to post_path(post.id) do%>
						<%= post.title %>
						<% end %>
						</th>
					</tr>
						<!-- <td><%= post.body %></td>
						<td><%= post.favorites.count %></td> -->
				</table>
		</div>
		<% end %>
		<td><%= paginate @posts, class: "paginate" %></td>
	</div>
	