<div class="col-xs-5 all">
	<%= notice %>
	<h2>Posts List</h2>
	<% @posts.each do |post|%>
		<div class="posts">
			<div class="image">
				<%= attachment_image_tag post,:post_image, :fill, 300, 200%>
			</div>
				<table class="table">
					<tr>
						<th>name</th>
						<td><%= post.user.name %></td>
					</tr>
					<tr>
						<th>date</th>
						<td><%= post.created_at.strftime('%Y年%m月%d日 %H時') %></td>
					</tr>
					<tr>
						<th>genre</th>
						<td><%= post.genre.name %></td>
					</tr>
					<tr>
						<th>title</th>
						<td>
							<%= link_to post_path(post.id) do%>
								<%= post.title %>
							<% end %>
						</td>
					</tr>
				</table>
		</div>
	<% end %>
	<div class="paginate">
		<td><%= paginate @posts, class: "paginate" %></td>
	</div>
</div>