<div class="col-xs-7 all">
	<h2>Post Details</h2>
	<%= notice %>
	<div class="user">
		<div class="image">
			<%= attachment_image_tag @post, :post_image, :fill, 700, 0 %>
		</div>
			<table class="table">
				<tr>
					<th>name</th>
					<td>
						<%= link_to user_path(@user.id) do %>
							<%= @user.name %>
						<% end %>
					</td>
				</tr>
				<tr>
						<th>genre</th>
						<td><%= @post.genre.name %></td>
					</tr>
				<tr>
					<th>title</th>
					<td><%= @post.title %></td>
				</tr>
				<tr>
					<th>text</th>
					<td><%= @post.body %></td>
				</tr>
				<tr>
					<th>favorite</th>
					<% if user_signed_in? %>
						<% if @post.favorited_by?(current_user) %>
							<td>
								<%= link_to post_favorites_path(@post), method: :delete do %>
									<i class="glyphicon glyphicon-heart" style="color: red;"></i>
									<%= @post.favorites.count %>いいね！済
								<% end %>
							</td>
						<% else %>
							<th>
								<%= link_to post_favorites_path(@post), method: :post do %>
									<i class="glyphicon glyphicon-heart-empty"></i>
									<%= @post.favorites.count %>
								<% end %>
							</th>
						<% end %>
					<%else%>
						<td>
							<%= @post.favorites.count %>
							<i class="glyphicon glyphicon-thumbs-up">いいね！</i>
						</td>
					<% end %>
				</tr>
				<%if current_user == @user %>
					<tr>
						<th><%= link_to "投稿編集", edit_post_path(@post), class: "btn btn-default btn-sm" %></th>
						<th><%= link_to "投稿削除", post_path(@post), method: :delete, data: {confirm: "投稿を消していいですか？"},class: "btn btn-danger btn-sm"%></th>
					</tr>
				<% end %>
			</table>
			<% if user_signed_in? %>
				<h4>コメント</h4>
				<table class="table">
					<tr>
						<th>date</th>
						<th width="200">name</th>
						<th width="200">comment</th>
						<th></th>
					</tr>
					<% @post.post_comments.each do |post_comment| %>
						<tr>
							<th><%= post_comment.created_at.strftime("%Y/%m/%d") %></th>
							<th><%= post_comment.user.name %></th>
							<td><%= post_comment.comment %></td>
							<th>
								<%= link_to "削除", post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete,class: "btn btn-danger btn-sm" %></th>
						</tr>
					<% end %>
				</table>
				<table>
					<%= form_for [@post,@post_comment] do |f| %>
						<%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメント入力" %>
						<div class="actions row">
							<%= f.submit class: "btn btn-default pull-right" %>
						</div>
					<% end %>
				</table>
			<% end %>
	</div>
</div>