<!DOCTYPE html>
<html>
  <head>
    <title>Camel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top">
              <%= link_to posts_path, :style=>"text-decoration: none;" do %>
              <h2 class="logo">Camel</h2>
              <% end %>
              <div id="sp-menu">
                <nav>
                  <ul>
                    <%if user_signed_in? %>
                      <li><br><br></li>
                      <li><h3>Search Posts</h3></li>
                      <li>
                        <%= form_tag(search_path, method: :get) do %>
                        <%= text_field_tag :search, params[:search] %>
                        <%= submit_tag 'Search', class: 'btn btn-default btn-sm' %>
                        <% end %>
                      </li>
                      <li><h3>Category</h3></li>
                      <% @genres.each do |genre| %>
                        <li>
                          <%= link_to genres_path(genre.id) do%>
                          <%= genre.name %>
                          <% end %>＞
                        </li>
                      <% end %>
                      <li><h3>Contents</h3></li>
                      <li><%= link_to 'About Camel', about_path %>＞</li>
                      <li><%= link_to '新規投稿', new_post_path %>＞</li>
                      <li><%= link_to 'マイページ', user_path(current_user.id) %>＞</li>
                      <li><%= link_to '投稿一覧', posts_path %>＞</li>
                      <li><%= link_to 'ユーザー一覧', users_path %>＞</li>
                      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>＞</li>
                    <% elsif admin_signed_in? %>
                      <li><%= link_to 'logout', destroy_admin_session_path, method: :delete %>＞</li>
                    <% else %>
                      <li><br><br></li>
                      <li><h3>Search Posts</h3></li>
                      <li>
                        <%= form_tag(search_path, method: :get) do %>
                        <%= text_field_tag :search, params[:search] %>
                        <%= submit_tag 'Search', class: 'btn btn-default btn-sm' %>
                        <% end %>
                      </li>
                      <li><h3>Category</h3></li>
                      <% @genres.each do |genre| %>
                      <li>
                        <%= link_to genres_path(genre.id) do%>
                          <%= genre.name %>
                          <% end %>＞
                      </li>
                    <% end %>
                      <li><h3>Contents</h3></li>
                      <li><%= link_to "投稿一覧", posts_path %>＞</li>
                      <li><%= link_to "ユーザー一覧", users_path %>＞</li>
                      <li><%= link_to 'アバウト', about_path %>＞</li>
                      <li><%= link_to 'sign up', new_user_registration_path %>＞</li>
                      <li><%= link_to 'login', new_user_session_path %>＞</li>
                    <% end %>
                  </ul>
                </nav>
              </div>

              <div id="hm-icon">
                <a class="menu-trigger">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </div>
    </header>
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <footer>
        <h2 class="logo">Camel</h2>
      </footer>
  </body>
</html>
